@import url(http://fonts.googleapis.com/css?family=Oswald);

html, body, #container { height: 100%; }
body > #container { height: auto; min-height: 100%; }
body{margin: 0;padding: 0;}

*{
	font-family: 'Oswald', sans-serif;
}
body{
	
}

/* Gradient transparent - color - transparent */
hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));

}

#footer{
	font-size: 12px;
	text-align:center;
	font-style: italic;
	
	clear:both;
	position:relative;
	z-index: 10;
	height: 3em;
	margin-top: -4em;
	
	color: #0987e5;
}
#content { padding-bottom: 4em; }

.simpleCenter{
	text-align: center;
	font-size: 14px;

	vertical-align: middle;
}

span{
	font-style: italic;
}

img {
    max-width: 100%;
    height: auto;
}

.boldie{
	font-size: 16px;
	font-style: bold;
}

h2{
	color: #0987e5;
}

table, th, td {
	
    border: 2px solid black;
    border-collapse: collapse;
}